
/* --------------------------------------------------------------- */
/* Navigation 
/* --------------------------------------------------------------- */
.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
	font-size: 16px;
}

.navbar-inverse {
	padding-bottom: 20px;
	padding-top: 20px;
}

.navbar-inverse {
   position: relative;
   width: 100%;
   background: #161415 url(..//img/background.jpg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
   text-align: center;
   overflow: hidden;
   border-color: #000000;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #FF8C00;
}

.navbar-brand {
	font-weight: 700;
	letter-spacing: 2px;
	color:  #ffffff;
	font: normal 25px 'Cookie', cursive;
}

.navbar-brand span{
	color:  #FF8C00;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

/* ------------------------------------------------------------------ */
/* Home page profile pic
/* ------------------------------------------------------------------ */
.profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}

/* ------------------------------------------------------------------ */
/* About Section
/* ------------------------------------------------------------------ */

#about {
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a, #about a:visited  { color: #000; }
#about a:hover, #about a:focus { color: #ff8c00; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #000;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
   color: #fff;
}
#about .download .button:hover {
   background: #444;
   color: #ff8c00;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* Footer
/* ------------------------------------------------------------------ */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
    text-align:center;
}

/* responsive media query for footer */

@media (max-width: 880px) {

	footer {
		font: bold 14px sans-serif;
	}
}

/* ----------------------------------------------------------------------- */
/* glyphicon Configuration 
/* ----------------------------------------------------------------------- */

.glyphicon {
	font-size: 40px;
	color: #1abc9c;
}
